{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Taillemaxequipe</th>
                <td>{{ projet.tailleMaxEquipe }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if projet.date %}{{ projet.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedefin</th>
                <td>{% if projet.dateDeFin %}{{ projet.dateDeFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projets_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('projets_edit', { 'id': projet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
