{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeton</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeton.id }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ jeton.valeur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jetons_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jetons_edit', { 'id': jeton.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
